* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: whitesmoke;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	appearance: none;
}

.form-group {
	display: flex;
	flex-direction: column;
	width: 300px;
	font-size: 1.8em;
	gap: 10px;
	text-align: center;
	background-color: rgb(0, 149, 249);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
	border: 3px solid rgb(5, 94, 202);
	border-style: solid;

	label {
		color: white;
	}

	input {
		padding: 10px;
		border-radius: 5px;
		outline: none;
		border: none;
		background-color: whitesmoke;
		font-size: 0.5em;

		&:focus {
			outline: 2px solid rgb(5, 94, 202);
		}
	}

	button {
		padding: 8px;
		border-radius: 5px;
		outline: none;
		border: 1px solid rgba(0, 0, 0, 0.47);
		transition: all 0.2s ease;
		font-weight: 600;

		&:hover {
			outline: 2px solid rgba(255, 255, 255, 0.5);
			cursor: pointer;
			background-color: rgb(16, 16, 16);
			transform: translateY(-2px);
			color: white;
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
		}

		&:active {
			transform: scale(0.99);
		}
	}

	h2 {
		color: white;
		font-size: 1em;
	}
}

.error {
	outline: 2px solid rgb(255, 66, 66) !important;

	&::placeholder {
		color: rgb(255, 66, 66);
	}
}
