* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	gap: 10px;

	font-family: Arial, Helvetica, sans-serif;
	background-color: whitesmoke;
}

h1 {
	text-align: center;
}

form {
	max-width: 300px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: rgb(44, 44, 44);
	padding: 20px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	gap: 20px;

	.container-inputs {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 16px;

		.form-group {
			width: 100%;
			display: flex;
			flex-direction: column;
			font-size: 1em;
			gap: 5px;
			text-align: left;

			label {
				color: white;
				font-weight: 600;
			}

			input {
				padding: 10px;
				border-radius: 5px;
				outline: none;
				border: none;

				background-color: whitesmoke;
				font-size: 1em;
			}
		}
	}

	.error {
		&:focus {
			outline: 2px solid rgb(255, 66, 66) !important;
		}

		&::placeholder {
			color: rgb(255, 66, 66);
		}
	}

	.container-buttons {
		width: 100%;
		display: flex;
		gap: 10px;

		& > * {
			flex-grow: 1;
		}
	}
}

#result {
	width: 300px;
	text-align: center;

	strong {
		color: rgb(77, 77, 254);
	}
}

#btn-generate-form,
#btn-verify,
input[type="reset"] {
	padding: 8px;
	border-radius: 5px;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.47);
	transition: all 0.2s ease;
	font-weight: 600;
	border: 2px solid transparent;

	&:hover {
		cursor: pointer;
		background-color: black;
		color: white;
		border: 2px solid white;
	}

	&:active {
		transform: scale(0.98);
	}
}

#btn-generate-form {
	border-color: rgb(56, 56, 56);
}

input[type="reset"] {
	background-color: rgb(255, 66, 66);
	color: white;
}
